.leftPanel_container {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}
.leftPanel_filter {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding-left: 5px;
}
.filter_Title {
	font-size: 14px;
	font-weight: bolder;
}

.leftPanel_filter > label {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 4px;
}

.offcanvas {
	margin-top: 150px;
	max-width: 65vw;
}

.offcanvas-header {
	margin-top: 1rem;
}

.navbar-collapse > .leftPanel_filter {
	margin-left: 1.75rem;
}
