a {
	text-decoration: none;
}
.navbar__footer {
	height: auto;
	min-height: 30px;
	width: auto;
	min-width: 100vw;
	background-color: #22303e;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.navbar__footer_options {
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.navbar__footer_text {
	font-size: 14px;
	font-weight: bold;
	margin: 0 10px;
	padding: 2px;
	color: white;
}

.navbar__footer_text:hover {
	border: 1px solid white;
	cursor: pointer;
}

.navbar__footer_image {
	object-fit: scale-down;
	padding: 2px;
}

.navbar__footer_image:hover {
	border: 1px solid white;
	cursor: pointer;
}

@media (max-width: 1024px) {
	.navbar__footer_text {
		margin: 5px;
	}

	.navbar__footer_image {
		width: 80vw;
		padding-left: 15px;
	}
}
