.footerTop {
	background-color: #232f3e;
	color: white;
	min-width: 100vw;
	padding-bottom: 25px;
}
.backToTopButton {
	background-color: #364759;
	text-align: center;
	padding: 15px 0px;
	cursor: pointer;
}
.backToTopButton:hover {
	background-color: rgb(75, 87, 103);
}

.footerTop_container {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 25px 50px;
}

.navFooterTopcolumn li {
	list-style: none;
	font-size: 14px;
	font-weight: 500;
	cursor: default;
}

.listItem > a {
	color: white;
}
.listItem > a:hover {
	text-decoration: underline white;
}
.navFooterTopcolumn .listHead {
	font-weight: 800;
	font-size: 16px;
	padding-bottom: 5px;
	cursor: default !important;
}

.logo_language {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footerTop__logo {
	width: 90px;
	object-fit: contain;
	margin: 18px 100px 10px 12px;
}

#languageDropdown {
	color: #ccc;
	font-size: 13px;
	font-weight: 500;
	border: 1px solid #838688;
}
.dropdown-item {
	font-size: 13px;
	font-weight: 500;
}

.languageItem > a:hover {
	background: none;
	cursor: pointer;
	color: rgb(203, 92, 37);
	text-decoration: underline;
}
input[type="radio"]:hover {
	cursor: pointer;
	background-color: chocolate;
}
.countries {
	margin: 0 96px;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
}

.countries > a {
	color: white;
	padding: 0 7.2px;
	font-size: 12px;
	font-weight: 500;
}

.countries > a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1000px) {
	.footerTop_container {
		justify-content: flex-start;
	}
	.countries {
		margin: 0px;
	}
}
